@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mohave", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}


.logo-icon {
    width: 40px; 
    height: auto; 
    margin-right: 10px; 
    font-size: 25px;
    background-color: #fff;
    color: red;
    border-radius: 50%;
    text-align: center;
}

.logo-text {
    font-size: 18px; 
    font-weight: bold; 
    color: #333;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f5ff;
    height: 80px;
}
nav{}
nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 0;
}
nav ul li{}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #212529;
    font-size: 20px;
}


/* Login form Css */
/* Wrote by robiul */

.main_div {
    height: 100vh;
}

.card {
    border: none;
    background: #A76F6F;
    color: #fff;
    margin-right: 80px;
    margin-left: 80px;
}

.card p {
    font-size: 20px;
    font-weight: 500;
}

.divition {
    width: 100%;
    text-align: center;
    margin: 30px auto 20px;
}

.divition span {
    font-size: 25px;
    font-weight: 500;

}

.my_form {
    padding: 0px 25px 0px 35px;
}

button {
    border: none;
    direction: none;
}

.btn a {
    text-decoration: none;
    /* color: #75CAEB; */
    background: #75CAEB;

    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.btn-r a {
    background: #FF851B;

    text-decoration: none;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
}




/* Registration form css */
.reg-form .main_div {
    height: 100vh;
}

.reg-form  .card {
    border: none;
    background: #A76F6F;
    color: #fff;
    margin-right: 80px;
    margin-left: 80px;
}

.reg-form p {
    font-size: 20px;
    font-weight: 500;
}

.reg-form .divition {
    width: 100%;
    text-align: center;
    margin: 30px auto 20px;
}

/* .divition span {
    font-size: 25px;
    font-weight: 500;

} */

.my_form {
    padding: 0px 25px 0px 35px;
}

.reg-form button {
    border: none;
    direction: none;
}

.reg-form .btn {
    text-decoration: none;
    /* color: #75CAEB; */
    background: #75CAEB;
}

.reg-form .btn-r {
    background: #FF851B;
}



/* Landing page Card section css start */
.cards{
    background-color: #ddd;
}
.cards .card {
    border: 1px solid #000;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(70 25 89);
}
.cards .card span{
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    background-color: #fff;
    color: gold;
    display: inline-block;
    margin-top: 10px;
}
.cards .card a{
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: rgb(221, 88, 214);
}


/* Home page */
/* Input section Css Start */

.input__section__text-area textarea{
    width: 100%;
    padding: 10px;
    background-color: rgb(255 240 240);
    border: 5px solid rgb(167 111 111);
    border-radius: 5px;
}
.input__section__input-file{
    border: 1px dotted blue;
    border-radius: 5px;
    padding: 10px;
}

.input__section__input-file input{
    display: none;

}
.input__section__input-file p {
    margin-bottom: 0;
    font-size: 15px;
    display: inline-block;
}
.input__section__input-file span{
     padding: 0 10px;
     font-size: 20px;
     color:#FF851B;
}
.input__section__submit-btn{
    text-align: center;
}
.input__section__submit-btn button:first-child{
    background-color: #862b0d;
    border: none;
    margin-right: 10px;
}
.input__section__submit-btn button:last-child{
    background-color: #ea5455;
    border: none;
}