@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mohave", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}


.logo-icon {
    width: 40px; 
    height: auto; 
    margin-right: 10px; 
    font-size: 25px;
    background-color: #fff;
    color: red;
    border-radius: 50%;
    text-align: center;
}

.logo-text {
    font-size: 18px; 
    font-weight: bold; 
    color: #333;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f5ff;
    height: 80px;
}
nav{}
nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 0;
}
nav ul li{}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #212529;
    font-size: 20px;
}


/* Login form Css */
/* Wrote by robiul */

.main_div {
    height: 100vh;
}

.card {
    border: none;
    background: #A76F6F;
    color: #fff;
    margin-right: 80px;
    margin-left: 80px;
}

p {
    font-size: 20px;
    font-weight: 500;
}

.divition {
    width: 100%;
    text-align: center;
    margin: 30px auto 20px;
}

.divition span {
    font-size: 25px;
    font-weight: 500;

}

.my_form {
    padding: 0px 25px 0px 35px;
}

button {
    border: none;
    direction: none;
}

.btn {
    text-decoration: none;
    /* color: #75CAEB; */
    background: #75CAEB;
}

.btn-r {
    background: #FF851B;
}